@import "tailwindcss";

@theme {
  --color-primary: #7c3aed; /* Violet-600 */
  --color-secondary: #0ea5e9; /* Sky-500 */
  --color-accent: #f59e0b; /* Amber-500 */
  --color-background: #f8fafc; /* Slate-50 */
  --color-surface: #ffffff; /* White */
  --color-text-main: #0f172a; /* Slate-900 */
  --color-text-muted: #64748b; /* Slate-500 */
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
}
